{% extends 'base.html.twig' %}

{% block title %}
    {% trans %} Authors {% endtrans %}
{% endblock %}

{% block content %}
    <div class="row mb-3">
        <a href="{{ path('author_create') }}">
            <button type="button" class="btn btn-success">{% trans %}author.add{% endtrans %}</button>
        </a>
    </div>

    <table class="table col-4">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans %} author.Fullname {% endtrans %}</th>
                <th>{% trans %} Actions         {% endtrans %}</th>
            </tr>
        </thead>
        {% for author in authors %}
            <tr>
                <td>{{ loop.index }} </td>
                <td>{{ author.getNameInitials() }}</td>
                <td>
                    <a href="{{ path('author_edit', {id: author.id}) }}">
                        <button type="button" class="btn btn-primary">{% trans %}Edit{% endtrans %}</button>
                    </a>
                    <button type="submit" class="btn btn-danger" form="delete_author">{% trans %}Delete{% endtrans %}</button>

                    <form id="delete_author" action="{{ path('author_delete', {'id': author.id}) }}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                    </form>
                </td>
            </tr>
        {% endfor %}



    </table>

{% endblock %}

