<div class="row m-3">
    <div class="col-4">
        <div class="form-group row">
            {{ form_label(form.title, 'book.Title', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}

            <div class="col-sm-10">
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row offset-2">
            {{ form_errors(form.title) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.isbn, 'ISBN', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}

            <div class="col-sm-10">
                {{ form_widget(form.isbn, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row offset-2">
            {{ form_errors(form.isbn) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.year_created, 'book.Year_created', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}

            <div class="col-sm-10">
                {{ form_widget(form.year_created, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row offset-2">
            {{ form_errors(form.year_created) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.page_count, 'book.Page_count', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}

            <div class="col-sm-10">
                {{ form_widget(form.page_count, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row offset-2">
            {{ form_errors(form.page_count) }}
        </div>

        <div class="form-group row">
            {{ form_label(form.authors, 'author.list', {'label_attr': {'class': 'col-sm-2 col-form-label'}}) }}

            <div class="col-sm-10">
                {{ form_widget(form.authors, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="row offset-2">
            {{ form_errors(form.authors) }}
        </div>

        <div class="row">
            <div>
                {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
            </div>
        </div>
    </div>
</div>